/* File by Akhila */
body {
  background-color: #eef1ff;
}

/* Spiliting the screen in half */
.split {
  height: 80%;
  width: 45%;
  position: fixed;
  z-index: 1;
  top: 50;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Left side */
.left {
  left: 0;
}

/* Right side */
.right {
  right: 0;
  background-color: #b1b2ff;
  border-inline-style: solid;
}

/* Centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Stlying image */
.loginphoto {
  max-width: 2000px;
  max-height: 2000px;
}

.logininfo {
  width: 500px;
  height: 600px;
  background-color: #d2daff;
  border-style: solid;
}

.inputs {
  width: 300px;
}

.inputboxes {
  padding: 20px;
  padding-top: 60px;
}

.signbutton {
  background-color: #929ed9;
  width: 60px;
  height: 50px;
  align-items: center;
}

.passpad {
  padding-top: 25px;
}
